fastapi[standard]==0.112.0
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
uvicorn==0.31.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-dotenv==1.0.1
python-multipart==0.0.12
PyJWT==2.9.0
python-json-logger==2.0.7
fastapi-pagination == 0.12.31
pandas == 2.2.3
